*
    box-sizing: border-box
body
    color: $text-color
    +reg
img
    max-width: 100%
.container
    width: 1170px
    margin: auto
.button
    border-radius: 10px
    background-color: $button-color
    border: none
    &:hover
        background-color: lighten($button-color, 10%)
        cursor: pointer
.section
    padding: 90px 0
    &-title
        +bold
.input
    border-radius: 10px
    border: 1px solid $border-color
    padding: 20px 26px
    font-size: 15px
@media (max-width: 1200px)
    .container
        width: 960px
@media (max-width: 768px)
    .container
        max-width: 750px
        width: 95%
@media (max-width: 480px)
    .container
        max-width: 750px
        width: 95%

